.container-gpt-avatar {
  background: #6f42c1;
}

.user {
  background-color: #343541;
}

.gpt {
  background-color: #3f414d;
}

.markdown-container {
  padding-top: 11px;
}

#interaction-container {
  overflow-y: scroll;
}

