@import '../../content/scss/bootstrap-variables';

#controls {
  width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#conversations {
  height: 100%;
}

#intermediate-container-list {
  width: 100%;
}

#list {
  overflow-y: scroll;
}

.btn-conversation {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 130px;
}

.btn-dark {
  background-color: $body-bg;
  border-color: $body-bg;
}

.btn-dark:hover {
  background-color: $btn-link-hover-color;
  border-color: $btn-link-hover-color;
}

.active-conversation {
  background-color: $btn-active-bg;
}

.month {
  margin-left: 13px;
  color: $gray-500;
}

.actions {
  width: 50px;
}

.input-name {
  height: 23px;
}

.actions fa-icon {
  cursor: pointer;
  color: $gray-500;
}

.actions fa-icon:hover,  {
  color: $white;
}
