<div id="main" class="d-flex flex-column">
  <div id="interaction-container">
    <jhi-interaction *ngFor="let message of conversation?.messages; let first = first;" [message]="message"
                     [first]="first"></jhi-interaction>
  </div>
  <div class="row mx-0 row-send-message">
    <div class="col-3"></div>
    <div class="col-6">
      <form #messageForm="ngForm">
        <div class="input-group mb-3 mt-3">
          <textarea id="send-message-text-area" [disabled]="loading" type="text" class="form-control" [(ngModel)]="message"
                 placeholder="Send a message"
                 aria-label="Message to GPT" data-cy="input-to-gpt" name="message"
                    aria-describedby="button-send-to-gpt" (keydown.enter)="onSendMessage()"></textarea>
          <button [disabled]="loading || message == ''" (click)="onSendMessage()" data-cy="button-send-to-gpt" class="btn btn-primary"
                  type="button" id="send">
            <fa-icon *ngIf="!loading" id="send-icon" icon="paper-plane"></fa-icon>
            <fa-icon *ngIf="loading" id="loading" [animation]="'spin'" icon="circle-notch"></fa-icon>
          </button>
        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
